/*进行设置下拉聊天边框*/

ul#navlist {
  font: 12px verdana;
  padding-bottom: 13px;

}

ul#navlist li span {
  background: #FBFBFB;
}

//
//ul#navlist li {
//  float: left;
//  height: 30px;
//  border: 0px solid #6c6;
//  width: 100%;
//  list-style: none;
//}
//
//ul#navlist .list1 {
//
//  border-bottom: 1px solid #6c6;
//  width: 100%;
//  margin-bottom: -15px;
//
//}
//
//#navlist a {
//
//  display: block;
//
//  color: #666;
//
//  text-decoration: none;
//
//  padding: 6px 5px;
//  width: 100%;
//  text-align: center;
//
//}

.list2 {
  border-bottom: 1px solid #6c6;
  width: 100%;
  list-style: none;
  display: block;
  text-decoration: none;
  padding: 6px 5px;
  text-align: center;



}
