<div>
  <!--<ul id="navlist">-->
  <!--<li class="list1"></li>-->
  <!--<li class="list2"><span>OR</span></li>-->
  <!--</ul>-->
  <li class="list2"><span>OR</span></li>
  <br>

  <small class="text-center">Login with an external account</small>


  <div class="media-bottom">
    <button class="btn btn-success" type="button" (click)="loginThirdPlatform(thirdTypes[0])" role="button">QQ</button>
    <button class="btn btn-primary" type="button" (click)="loginThirdPlatform(thirdTypes[1])" role="button">WeiChat
    </button>
  </div>

  <!--<div>-->
    <!--<button type="button" (click)="loginThirdPlatform(thirdTypes[2])" role="button">QQ</button>-->
    <!--<button type="button" (click)="loginThirdPlatform(thirdTypes[3])" role="button">QQ</button>-->
  <!--</div>-->


</div>


